.container{
    height: 700px;
    width: 1000px;
    border:3px solid white;
    background-color: white;
    position: relative;
    left: 500px;
    top: 150px;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 10px gray;

}
body{
    background-color:  rgba(0, 0, 0, 0.075);;
}
.con{
    position: relative;
    left: 200px;
    top: 80px;
    height: 30%;
}
.live{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 300px;
    border:3px solid gray;
    width: 400px;
    border-radius: 10px;
     box-shadow: 6px 6px 10px gray;
   
    

}
h3{
     opacity: 0.5;
    transition:1s;

}
h3:hover{
        opacity: 0.9;
    }
.sila{
    display: flex;
    flex-direction: row;
    margin: 30px;
}
.lal{
    position: relative;
    left: 280px;
    top:20px
   
}
.papa{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 3px solid blue;
}
h3{
    position: relative;
    left: 50px;
}
/*rgba(0, 174, 255, 0.603);*/